<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @result.game_id %>
</p>

<p>
  <strong>Set1h:</strong>
  <%= @result.set1H %>
</p>

<p>
  <strong>Set2h:</strong>
  <%= @result.set2H %>
</p>

<p>
  <strong>Set3h:</strong>
  <%= @result.set3H %>
</p>

<p>
  <strong>Set4h:</strong>
  <%= @result.set4H %>
</p>

<p>
  <strong>Set5h:</strong>
  <%= @result.set5H %>
</p>

<p>
  <strong>Set1g:</strong>
  <%= @result.set1G %>
</p>

<p>
  <strong>Set2g:</strong>
  <%= @result.set2G %>
</p>

<p>
  <strong>Set3g:</strong>
  <%= @result.set3G %>
</p>

<p>
  <strong>Set4g:</strong>
  <%= @result.set4G %>
</p>

<p>
  <strong>Set5g:</strong>
  <%= @result.set5G %>
</p>

<p>
  <strong>Gameh:</strong>
  <%= @result.gameH %>
</p>

<p>
  <strong>Gameg:</strong>
  <%= @result.gameG %>
</p>

<p>
  <strong>Breakball:</strong>
  <%= @result.breakball %>
</p>

<p>
  <strong>Setball:</strong>
  <%= @result.setball %>
</p>

<p>
  <strong>Matchball:</strong>
  <%= @result.matchball %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
