    <%= form_for @mobject, html: {multipart: true}  do |f| %>

        <% if @mobject.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@mobject.errors.count, "error") + " " + (I18n.t :notsaved) %> </h2>
              <ul>
                  <% @mobject.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
           <div class="col-md-6">
                <div class="panel-body ueberschrift">
                    <h1><%= @mobject.name %></h1> 
                </div>
            </div>
            <div class="col-md-6">
              <div class="panel-body ueberschrift">
                <div class="form-group">
                  <%= f.label I18n.t :bezeichnung %>
                  <%= f.text_field :name, autofocus: true, class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label I18n.t :beschreibung %>
                  <%= f.text_area :description, rows: 5, class:"form-control"%>
                </div>
                <div class="form-group">
                  <%= f.label I18n.t :kategorie %>
                  <%= f.collection_select :mcategory_id, Mcategory.where('ctype=?',@mobject.mtype).order(:name), :id, :name, {}, :readonly => true, id:"cat", class:"form-control", :onchange => "showdata2();" %>
                </div>
                <div class="form-group">
                  <%= f.label I18n.t :homepage %>
                  <%= f.text_field :homepage, class:"form-control"%>
                </div>
                <div class="form-group">
                   <%= f.label I18n.t :adresse %>
                   <%= f.text_field :address1, class:"form-control" %>
                   <%= f.text_field :address2, class:"form-control" %>
                   <%= f.text_field :address3, class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label I18n.t :stichworte %>
                  <%= f.text_field :keywords, class:"form-control"%>
                </div>
                <div class="form-group">
                  <input type="checkbox" name="my-checkbox1" checked>
                  <%= f.label I18n.t :active %>
                </div>
                 <%= f.hidden_field :mtype, class:"form-control" %>
                 <%= f.hidden_field :status, class:"form-control" %>
                 <%= f.hidden_field :owner_id %>
                 <%= f.hidden_field :owner_type %>
                 <%= f.hidden_field :geo_address, class:"form-control" %>
                 <%= f.hidden_field :longitude, class:"form-control" %>
                 <%= f.hidden_field :latitude, class:"form-control" %>
                <div class="actions">
                   <%= f.submit (I18n.t :speichern),  class:"btn btn-primary btn-lg btn-submit"%>
                  <% if @mobject.owner_type == "User" %>
                    <%= link_to user_path(:id => @mobject.owner_id, :topic => "personen_" + @mobject.mtype) do %>
                      <i class="btn btn-default btn-lg btn-submit">Abbrechen</i>
                    <% end %>
                  <% end %>
                  <% if @mobject.owner_type == "Company" %>
                    <%= link_to company_path(:id => @mobject.owner_id, :topic => "institutionen_" + @mobject.mtype) do %>
                      <i class="btn btn-default btn-lg btn-submit">Abbrechen</i>
                    <% end %>
                  <% end %>
                </div>
                <%= f.check_box :active, :id => "active", class:"form-control hidden" %>
                <%= f.check_box :online_pub, :id => "online_pub", class:"form-control hidden" %>
              </div>
          </div>
        </div>
    </div>
<% end %>                

<script>
     $("#ex1").slider({});
     $("#ex1").on("slide", function(slideEvt) {
      	$("#time_from").val(slideEvt.value[0]);
      	$("#time_to").val(slideEvt.value[1]);
     });
     $.fn.bootstrapSwitch.defaults.onColor = 'mycolor';
     $("[name='my-checkbox1']").bootstrapSwitch('state',<%= @mobject.active %>);
     $("[name='my-checkbox1']").on('switchChange.bootstrapSwitch', function () {
     $("#active").prop('checked',$("[name='my-checkbox1']").bootstrapSwitch('state'));
     });
     $("[name='my-checkbox4']").bootstrapSwitch('state',<%= @mobject.online_pub %>);
     $("[name='my-checkbox4']").on('switchChange.bootstrapSwitch', function () {
     $("#online_pub").prop('checked',$("[name='my-checkbox4']").bootstrapSwitch('state'));
     });
</script>
